# This is an example where you can store your environment variables. Copy this file to .env
# Now your app will have access to the variables added below. 
# For more instructions see section "Secrets" in README.md

API_URL=https://myapi.com
GOOGLE_MAPS_API_KEY=abcdefgh

# add for production and update SENTRY_INSTALL_URL per project
SENTRY_ENABLED=true
SENTRY_INSTALL_URL='https://505a548ee36548b9b9b2e3680beba522@sentry.io/1492983'
SENTRY_ENVIRONMENT='production'